<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="URLs" value="https://trial-www.jtbgenesis.com/genesis2-demo/services/GA_HotelAvail_v2013;
			 https://trial-www.jtbgenesis.com/genesis2-demo/services/GA_TourActivitySearch;
			 https://trial-www.jtbgenesis.com/genesis2-demo/services/GA_TourActivityRes" />
	</appSettings>
</configuration>